/* Responsive */
@media (max-width: 900px){
  .container > .sidebar{
    width: 200px;
  }
  .container > .content{
    margin-left: 240px;     
    width: calc(100% - 240px); 
   }
}

@media (max-width: 600px){
  .sidebar {
    left: -260px;
  }

  .sidebar.active {
    left: 20px;
  }

  .content {
    margin: 20px;
    width: calc(100% - 40px);
  }
  .toggleSidebar {
    display: block; /* Se muestra el botón */
     visibility:visible;
  }

  .container > .sidebar {
    left: -260px; /* Oculta la sidebar */
    transition: left 0.3s ease;
  }

  .container > .sidebar.active {
    left: 20px; /* Muestra la sidebar */
  }

  .container > .content {
    margin: 20px;
    width: calc(100% - 40px);
  }

}
@media (max-width: 1557px){
  .container > .content > .itemsShop {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 1220px){
  .container > .content > .itemsShop {
    grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 930px){
  .container > .content > .itemsShop {
    grid-template-columns: repeat(1, 1fr);
  }
  .container > .content > .centralBar > .block {
    flex-direction: column;
  }

}